@import "../../styles/variables.scss";

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $black;

    .card {
        width: 50rem;
        height: 20rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo {
            width: 17rem;
            height: 8rem;
            object-fit: contain;
        }
    }
}
